/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.winner-text {
  font-weight: bold;
  font-size: large;
}

.winner-hero {
  color: dodgerblue;
}

.winner-villain {
  color: firebrick;
}

#fight-row {
  margin-bottom: 30px;
}

/* .fight-list-header {
  text-align: center !important;
  vertical-align: middle !important;
  background: darkgray;
  color: white;
  font-size: medium;
  font-weight: bold;
} */

/* .mat-cell {
  vertical-align: middle !important;
} */



/* .hero {
  color: dodgerblue;
}

.villain {
  color: firebrick;
} */

/* .collapse {
  padding: 10px;
} */
